<ion-view view-title="Geppetto Social" class="login">
    <ion-content>
        <div class="container">
            <div class="content">
                <div class="logo text-center" style="padding-top:20px">
                    <h3>Geppetto Social Login</h3>
                </div>
                <div class="sign-in text-center">
				<hr>
                    <button class="button button-positive button-outline" data-ng-click="facebookLogin()">
                        <i class="icon ion-social-facebook"></i>
                    </button>
                    <button class="button button-positive button-outline" data-ng-click="GPlusLogin()">
                        <i class="icon ion-social-googleplus-outline"></i>
                    </button>
                </div>
                <hr>
            </div>
        </div>
    </ion-content>
</ion-view>